:root {
  --background: #000;
  --background-blue: #2941ab;

  --white-font: #fff;
  --green: #1ed760;
  --gray: #919496;
}

@media (min-width: 0px) and (max-width: 350px) {
  main {
    background-image: none !important;
  }
}

/* Small devices (landscape phones, 576px and up)*/
@media (max-width: 576px) {
  header {
    padding: 1rem;
    height: 4rem;
  }

  .logo-spotify-header {
    width: 11rem;
  }

  ul {
    display: none;
  }

  .icon-menu {
    opacity: 1;
    visibility: visible;
    font-size: 2rem;
    font-weight: 400;
    margin-left: 4rem;
    color: var(--white-font);
    cursor: pointer;
  }

  main {
    background-image: url("https://www-growth.scdn.co/static/home/bursts-mobile.svg");
    background-position: top 52% left 60%;
  }

  .title {
    font-size: 3rem;
  }

  .subtitle {
    font-size: 1.2rem;
    text-align: center;
  }

  #container {
    display: grid;
    grid-template-columns: 3fr;
    gap: 4rem;
  }

  footer {
    height: 75rem;
    padding: 8rem 3rem;
  }

  .links-footer {
    margin-top: 3rem;
  }

  .links-footer-nav {
    display: inline-block;
  }

  .final-footer {
    margin-top: -7rem;
  }
}

/* Telefones em paisagem a tablet em retrato */
@media (min-width: 577px) and (max-width: 900px) {
  ul {
    display: none;
  }

  .icon-menu {
    opacity: 1;
    visibility: visible;
    font-size: 2rem;
    font-weight: 400;
    margin-left: 4rem;
    color: var(--white-font);
    cursor: pointer;
  }

  .title {
    font-size: 4.5rem;
    padding-bottom: 0;
  }

  .subtitle {
    font-size: 1rem;
    padding: 2rem;
  }

  main {
    background-image: url("https://www-growth.scdn.co/static/home/bursts-mobile.svg");
    background-size: 219%;
    background-position: right 40% center;
  }

  #container {
    display: grid;
    grid-template-columns: 3fr;
    gap: 4rem;
  }

  footer {
    height: 75rem;
    padding: 8rem 3rem;
  }

  .links-footer {
    margin-top: 3rem;
  }

  .links-footer-nav {
    display: inline-block;
  }

  .final-footer {
    margin-top: -7rem;
  }
}

@media screen and (max-width: 850px) {
  .icon-menu {
    display: initial;
    visibility: visible;
    color: white;
  }

  .links {
    margin: 2rem 0;
  }

  .links ul {
    flex-direction: column;
  }

  .links ul a {
    margin-right: 0;
  }

  .menu {
    flex-direction: column;
    position: fixed;
    top: 0;
    right: -1000px;
    height: 100vh;
    background: black;
    width: 100%;
    padding: 2rem;
    transition: all 2s;
  }

  .menu .links {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
  }

  .menu-special {
    font-size: 2rem;
  }

  .separator {
    transform: rotate(450deg);
    margin-left: 10px;
  }
}
